@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(fundo.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100%;
}

a:visited, a:active {
    color: inherit;
}

h1 {
    font-family: "Science Gothic", sans-serif;
    font-size: 35px;
}

section {
    background-color: rgba(0, 0, 0, 0.637);
    color: white;
    width: 70%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

section input {
    width: 80%;
    height: 50px;
    text-align: left;
    padding: 5px;
    color: black;
    border: 2px dotted black;
}

section button {
    width: 40%;
    height: 40px;
    text-align: center;
    padding: 5px;
    color: white;
    border: 1px solid white;
    background: transparent;
    cursor: pointer;
}

section p {
    color: red;
    background-color: rgba(255, 255, 255, 0.762);
    padding: 2px 3px;
}