@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Science+Gothic:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}

header {
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.921);
    color: white;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 3px 15px;
}

h1 {
    font-family: "Science Gothic", sans-serif;
    font-size: 35px;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    padding: 10px 20px;
}

main section {
    background-color: rgba(0, 0, 0, 0.679);
    color: white;
    width: 100%;
    height: 17%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    padding: 0 13px;
    border: 2px solid rgba(0, 0, 0, 0.779);
    border-radius: 15px;
}

span {
    color: rgba(0, 0, 0, 0.779);
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
}

main section button {
    width: 40%;
    height: 40px;
    text-align: center;
    padding: 5px;
    color: white;
    border: 1px solid white;
    background: transparent;
    cursor: pointer;
}